* {
    box-sizing: border-box;
}

.block {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    font-size: 0;
    width: 800px;
    margin-top: 220px;
    margin-left: 200px;
    align-content: center;
}


.block__elem1 {
    width: 200px;
    height:95px;
    display: inline-block;
    border: 2px solid #d0b8b8;
    background-color: #ded9d9;
    text-align:center;
}

.block__elem1 {
    font-size: 46px;
}


